.li-btn {
  display: flex;
  align-items: center;
}
.li-btn p {
  text-align: start;
}
.delete {
  margin-left: 0.5rem;
}
.main {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.875rem 1fr 1.875rem;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.main > button > div {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 1.5rem;
  align-items: center;
}
.main p {
  margin: 0;
}

.first {
  border-radius: 0.5rem 0.5rem 0 0;
}

.task-done-light {
  color: var(--para-done-light) !important;
}
.task-done-dark {
  color: var(--para-done-dark) !important;
}
.first-cell {
  border-radius: 0.5rem 0.5rem 0 0;
}

.dark-para {
  color: var(--para-default-dark);
}
.light-para {
  color: var(--para-default-light);
}
.dark-li {
  border-bottom: 2px solid #37394e;
  background-color: var(--cell-dark-bg);
}
.light-li {
  border-bottom: 2px solid #e9e8ec;
  background-color: var(--white);
}
